@page
@model RegisterModel
@{
    ViewData["Title"] = "MOXA · SANGRE, ESPIRÍTU Y GRACIA";
    Layout = "~/Views/Shared/_blackLayout.cshtml";
}

<div class="row">
    <div class="d-none d-sm-block col-md-5">
        <div class="moxa-banner">
        </div>
    </div>
    <div class="d-block d-sm-none w-100">
        <div class="moxa-banner-xs">
        </div>
    </div>
    <div class="col-xs-12 col-md-5 offset-md-1">
        <div class="row">
            <div class="col-12">
                <h1 class="moxa-h1 mt-md-5 mt-3 text-center">@ViewData["Title"]</h1>
                <p class="moxa-p text-center">
                    Ingresa toda la información para participar en el Congreso Juvenil 2022.
                </p>
            </div>
        </div>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row">
                <div class="col-12">
                    <span class="text-danger mb-2">@Model.ErrorMessage </span>
                </div>

                <input asp-for="Input.TeamId" type="hidden" value="@Model.TeamId" />
                <input asp-for="Input.IsNewConverted" type="hidden" value="@Model.IsNewConverted" />

                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.FirstName"></label><span style="color:red">*</span>
                        <input asp-for="Input.FirstName" class="form-control" placeholder="Primer Nombre" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.LastName"></label><span style="color:red">*</span>
                        <input asp-for="Input.LastName" class="form-control" placeholder="Apellido" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Age"></label><span style="color:red">*</span>
                        <input asp-for="Input.Age" class="form-control" placeholder="16" />
                        <span asp-validation-for="Input.Age" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Email"></label><span style="color:red">*</span>
                        <input asp-for="Input.Email" class="form-control" placeholder="info@ccnjuvenil.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.PhoneNumber"></label><span style="color:red">*</span>
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="+58 414 000 0000" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label class="moxa-lbl-lg">Si eres parte de algún CCN, escoja la congregación a la que pertenece.</label>
                        <select asp-for="Input.CongregationId" asp-items="Model.Congregations" class="form-control"></select>
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label class="moxa-lbl-lg" asp-for="Input.NeedContact"></label>
                        <label class="moxa-lbl-lg">¿Deseas que nos coloquemos en contacto contigo?</label>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Input.NeedContact" id="inlineRadio1" checked="checked" value="true">
                                <label class="form-check-label" for="inlineRadio1">SI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" asp-for="Input.NeedContact" id="inlineRadio2" value="false">
                                <label class="form-check-label" for="inlineRadio2">NO</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Instagram"></label>
                        <input asp-for="Input.Instagram" class="form-control" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Facebook"></label>
                        <input asp-for="Input.Facebook" class="form-control" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.TikTok"></label>
                        <input asp-for="Input.TikTok" class="form-control" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="moxa-lbl" asp-for="Input.Twitter"></label>
                        <input asp-for="Input.Twitter" class="form-control" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <input type="hidden" asp-for="Input.Password" class="form-control" value="Juv&Fam0426*#." />
                        <input type="hidden" asp-for="Input.ConfirmPassword" class="form-control" value="Juv&Fam0426*#." />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right mb-5">
                    <button type="submit" class="btn btn-light moxa-btn">SIGUIENTE <img class="moxa-arrow" src="/img/arrow-right.svg" /></button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".moxa-banner").css("height", $('html').height());
    </script>
}
