@page
@model CongresoJuvenil2021.Areas.Identity.Pages.Account.RegisterPodCastModel
@{
    ViewData["Title"] = "MOXA · A PRUEBA DE FUEGO";
    Layout = "~/Views/Shared/_blackLayout.cshtml";
}

<div class="row">
    <div class="d-none d-sm-block col-md-5">
        <div class="moxa-banner">
        </div>
    </div>
    <div class="d-block d-sm-none w-100">
        <div class="moxa-banner-xs">
        </div>
    </div>

    <div class="col-xs-12 col-md-5 offset-md-1">
        <div class="row">
            <div class="col-12">
                <h1 class="moxa-h1 mt-md-5 mt-3 text-center">@ViewData["Title"]</h1>
                <p class="moxa-p text-center">CONGRESO DE JÓVENES 2021</p>
            </div>
        </div>        

        <form asp-route-returnUrl="@Model.returnUrl" method="post">
            <div class="row">
                <div class="col-12">
                    <h2 class="moxa-h2">PODCAST MOXA</h2>
                    <p class="moxa-p">
                        Escoge a cuáles podcast asistirás en este congreso.
                    </p>
                    <p class="moxa-p-light">
                        Selecciona:
                    </p>
                </div>
            </div>            

            <input type="hidden" name="CurrentUserId" value="@Model.CurrentUser.Id" />

            <div class="row">
                @for (var i = 0; i < Model.PodCasts.Count(); i++)
                {
                    
                <div class="col-12">
                    @if (i == 0)
                    {
                        <text>
                            <p class="moxa-p-light mt-1">Miércoles 25 de Agosto:</p>
                        </text>
                    }
                    else if (i == 4)
                    {
                        <text>
                            <p class="moxa-p-light mt-2">Jueves 26 de Agosto:</p>
                        </text>
                    }
                    <input type="checkbox" name="PodCastsChecked" value="@Model.PodCasts[i].Id" />
                    <label class="ml-1 mb-2 mt-2 moxa-lbl-sm">@Model.PodCasts[i].Name</label>
                </div>
                }
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-light moxa-btn">SIGUIENTE <img class="moxa-arrow" src="/img/arrow-right.svg" /></button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>        
        $(".moxa-banner").css("height", $('html').height());
    </script>
}