@model IEnumerable<CongresoJuvenil2021.ViewModels.TeamCongregation>

@{
    ViewData["Title"] = "Total Usuarios por Equipo";
}
<div class="row">
    <div class="col-12">
        <h2>Total Usuarios por Equipos</h2>
    </div>
    <div class="col-12">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalUser)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalUser)
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td><b>Total</b></td>
                    <td>@ViewBag.CountTotal</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


